name: Sync

on:
  push:
    branches:
      - main
  schedule:
    - cron: "30 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install node
        uses: actions/setup-node@v6

      - name: Sync upstream
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote add upstream https://github.com/Hiro420/StellaSoraData.git
          git fetch upstream
          git checkout main
          git merge upstream/main -X theirs --no-edit || {
            echo "Merge conflict detected. Manual resolution required.";
            exit 1;
          }

      - name: Run scripts
        run: |
          npm install
          npm start

      - name: Push any changes
        run: |
          git add .
          if git diff --cached --quiet; then
            echo "No changes to commit."
            exit 0
          fi
          git commit -m "Synced with upstream"
          git push origin main
